#footerupsell {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    overflow: auto;
    align-items: top;
    border-bottom: 1px solid grey;
}
.footer_img {
    img {
        height: 400px;
        width: 100%;
        object-fit: cover top;
        margin-top: 50px;
    }
}
.footerupsell_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.btn a {
    text-decoration: none;
}
@media (min-width:600px){
    #footerupsell {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    .footer_img {
        grid-area: 1 / 3 / 2 / 4;
        
    }

}