footer {
    display: flex;
    flex-direction: column;
}
.left {
    padding: 50px 0px;
}
.left > * {
    padding: 10px;

}
span {
    color: grey;
}
.right {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    padding: 5px;
    div {
        h4 {
            padding: 5px;
            color: grey;
        }
    }
}
.right {
    div {
        padding: 5px;
        h4:first-child {
            color: rgb(64, 62, 62);
        }
    }
}

@media (min-width:600px){
   footer {
    margin-top: 50px;
    display: grid;
    grid-template: 1fr 0.2fr / 1fr 1fr;
    .right {
        justify-items: center;
        div {
            h4:first-child {
                color: rgb(64, 62, 62);
            }
        }

    }
    .bottom {
        text-align: center;
        grid-area: 2/1/3/3;

    }

   }
}
